/* font: fira sans */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Fira Sans";
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f5f5f5;
}

main {
  margin: 0px 160px;
}

/* shared styles */

.primary-text-color {
  color: #0e0e0e;
}

.button-color {
  color: #006a50;
}

.primary-button {
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  width: fit-content;
  cursor: pointer;
}

.primary-button:hover {
  background-color: white;
  color: #006a50;
  border: 1px solid #006a50;
}

.primary-button:active {
  background-color: white;
  color: #006a50;
  box-shadow: 2px 3px 5px #3b3b3b;
  transform: translateY(-2px);
}

.section-title {
  font-size: 40px;
  font-weight: 800;
  color: #0e0e0e;
  margin-bottom: 32px;
}

.section-text {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.primary-bg {
  background-color: #c6e4d6;
}

/* nav styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600;
  height: 100;
  padding: 31px 0px;
  margin: 0px 160px 20px 160px;
}

.sign-in-button {
  border-radius: 8px;
  border: 1px solid #006a50;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.sign-in-button:hover {
  background-color: #006a50;
  color: white;
}

.home-text {
  font-size: 32px;
  font-weight: 800;
  cursor: pointer;
}

/* banner styles */

.banner {
  background-color: #c6e4d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  padding: 80px 60px;
  margin: 0px 160px 80px 160px;
}

.banner-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}

.banner-title {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 24px;
}

/* card styles */
/* pillars */

.pillar-card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 80px;
}

.innovation,
.sustainability,
.infrastructure,
.empowerment {
  background-color: white;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  align-content: center;
  padding: 24px 24px;
}

.card-heading {
  font-size: 20px;
  font-weight: 800;
  color: rgba(14, 14, 14, 0.8);
  margin-top: 24px;
  margin-bottom: 12px;
}

.card-text {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

/* visions */

.vision-card-container {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
  justify-content: center;
}

.digital-transformation {
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  padding: 32px 32px;
}
.green-energy {
  background-color: rgba(198, 228, 214, 1);
  border-radius: 16px;
  padding: 32px 32px;
}
.modern-infrastructure {
  background-color: rgba(247, 235, 207, 1);
  border-radius: 16px;
  padding: 32px 32px;
}

.vision-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
}

.blue-button {
  background-color: #5490f5;
}

.blue-button:hover {
  background-color: white;
  color: #5490f5;
  border: 1px solid #5490f5;
}

.green-button {
  background-color: #09a15c;
}

.green-button:hover {
  background-color: white;
  color: #09a15c;
  border: 1px solid #09a15c;
}

.yellow-button {
  background-color: #ffc239;
}

.yellow-button:hover {
  background-color: white;
  color: #ffc239;
  border: 1px solid #ffc239;
}

/* quote section */

.quote-container {
  background-color: white;
  padding: 48px 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  margin-bottom: 80px;
  background-image: url(quote-bg.png);
  background-repeat: no-repeat;
  background-position-x: 24px;
  background-position-y: 24px;
}

.quote {
  font-size: 16;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.author-name {
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}

.author-title {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
}

/* opinion section */

.opinion-container {
  background-color: white;
  border-radius: 16px;
  padding: 32px 32px;
  margin-bottom: 80px;
}
.opinion-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 16px;
  font-weight: 600;
  color: #0e0e0e;
}

td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px 24px;
}

thead {
  background-color: #c6e4d6;
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
}

th {
  padding: 24px 24px;
}

.opinion-selector {
  text-align: center;
}

select {
  background-color: #c6e4d6;
  padding: 10px 14px;
  border: 1px solid #0e0e0e;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}

/* news section */

.news-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}

.news-card {
  background-color: white;
  padding: 48px 48px;
  border-radius: 24px;
  display: flex;
  gap: 32px;
}

.satellite-image {
  border-radius: 24px;
}

.news-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 134px;
}

.date-time {
  display: flex;
  gap: 12px;
}

/* donation section */

.donation-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-bottom: 80px;
  padding: 0px 105px;
}

.donation-card {
  background-color: white;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700;
}

.donation-card:hover {
  background-color: #006a50;
  color: white;
  border: none;
}

.donation-card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.donation-input {
  text-align: center;
  padding: 12px 422px;
  border: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

/* subscribe section */

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  border-radius: 24px;
  padding: 80px 265px;
}

.email-field {
  display: flex;
  margin-bottom: 24px;
}

.email-input {
  text-align: left;
  padding: 18px 405px 18px 40px;
  border: none;
  border-radius: 8px 0px 0px 8px;
}

/* footer styles */

footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 50px 0px;
  background-color: white;
}

.socials {
  display: flex;
  gap: 23px;
  cursor: pointer;
}

hr {
  width: 1122px;
  border: 1px solid rgba(14, 14, 14, 0.1);
}
